.team-pokemon-info {
  position: fixed;
  top: 100px;
  left: 50%;
  height: 89vh;
  width: 700px;
  overflow-y: auto;
}

.team-pokemon-info::-webkit-scrollbar {
  display: none;
}

.team-pokemon-info #react-select-3-input {
  border-bottom: 1px solid white;
}

.team-pokemon-info .mod-input {
  position: relative;
  display: inline;
  width: 40px !important;
  margin-left: 20px !important;
  margin-right: 10px !important;
  font-size: 25px;
}

@media only screen and (max-width: 900px) {
  .team-pokemon-info .mod-input {
    width: 100% !important;
  }
}

.team-pokemon-info .nature-select {
  display: inline-block;
  width: 45%;
  margin: 10px;
}

@media only screen and (max-width: 1100px) {
  .team-pokemon-info .nature-select {
    width: 90%;
  }
}

.team-pokemon-info .ivs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media only screen and (max-width: 900px) {
  .team-pokemon-info .ivs {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.team-pokemon-info .other-vars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 10px;
}

@media only screen and (max-width: 1100px) {
  .team-pokemon-info .other-vars {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.team-pokemon-info .other-vars label {
  margin-top: 25px;
}

.team-pokemon-info .ability-select {
  display: inline-block;
  width: 45%;
  margin: 10px;
}

@media only screen and (max-width: 1100px) {
  .team-pokemon-info .ability-select {
    width: 90%;
  }
}

.team-pokemon-info .mini-error-message {
  display: inline;
  position: relative;
  color: red;
  font-size: 10px;
  top: 40px;
  right: 75px;
}

.team-pokemon-info .stat-header {
  font-size: 0.8rem;
  color: #9e9e9e;
}

@media only screen and (max-width: 1400px) {
  .team-pokemon-info .stat-header {
    margin-left: 100px;
  }
}

.team-pokemon-info .item-select-label {
  margin-left: 50px;
}

@media only screen and (max-width: 1100px) {
  .team-pokemon-info .item-select-label {
    margin-left: 0;
  }
}

.team-pokemon-info .item-select {
  display: inline-block;
  width: 45%;
  margin: 15px;
}

@media only screen and (max-width: 1100px) {
  .team-pokemon-info .item-select {
    width: 90%;
    margin: 10px;
  }
}

.team-pokemon-info .error-message {
  color: red;
  font-size: 10px;
}

.team-pokemon-info .confirm-edit {
  position: relative;
  z-index: 0;
  left: 65%;
  margin-top: 15px;
  margin-right: 10px;
}

@media only screen and (max-width: 1100px) {
  .team-pokemon-info .confirm-edit {
    left: 53%;
  }
}

@media only screen and (max-width: 900px) {
  .team-pokemon-info .confirm-edit {
    left: 32%;
  }
}

@media only screen and (max-width: 500px) {
  .team-pokemon-info .confirm-edit {
    left: 28%;
  }
}

@media only screen and (max-width: 1400px) {
  .team-pokemon-info {
    width: 550px;
  }
}

@media only screen and (max-width: 1100px) {
  .team-pokemon-info {
    width: 450px;
  }
}

@media only screen and (max-width: 900px) {
  .team-pokemon-info {
    width: 300px;
  }
}

@media only screen and (max-width: 500px) {
  .team-pokemon-info {
    width: 150px;
  }
}
/*# sourceMappingURL=TeamPokemonInfo.css.map */