.team-index h1 {
  position: relative;
  display: inline-block;
  margin-left: 33%;
  font-weight: bolder;
  border: 2px solid whitesmoke;
  background-color: #3a3a3a;
  color: whitesmoke;
  padding: 10px;
  border-radius: 10px;
}

.team-index .team-pokemon-info {
  padding-left: 20px;
}

.team-index .teams {
  position: relative;
  overflow-y: scroll;
  width: 60%;
  height: 90vh;
}

.team-index .teams::-webkit-scrollbar {
  width: 15px;
}

.team-index .teams::-webkit-scrollbar-track {
  background-color: white;
  border-right: #f44336 2px solid;
  height: 100px;
  display: none;
}

.team-index .teams::-webkit-scrollbar-thumb {
  background-color: #10b4e6;
  height: 60px;
  display: none;
}

.team-index .teams::-webkit-scrollbar-thumb:hover {
  background-color: #2da8e0;
}

@media only screen and (max-width: 1400px) {
  .team-index .teams h1 {
    font-size: 40px;
  }
}

@media only screen and (max-width: 1100px) {
  .team-index .teams h1 {
    font-size: 30px;
  }
}

@media only screen and (max-width: 900px) {
  .team-index .teams h1 {
    margin-bottom: -20px;
    font-size: 20px;
  }
}

@media only screen and (max-width: 500px) {
  .team-index .teams h1 {
    font-size: 15px;
    margin-left: 55px;
  }
}

.team-index .teams .team-container {
  margin-top: 40px;
  position: relative;
  display: block;
  border: 2px black solid;
  left: 25%;
  width: 500px;
  height: 300px;
  background-color: #00c0ff;
}

.team-index .teams .team-container .name-container {
  border-bottom: whitesmoke 2px solid;
  background-color: white;
  border-bottom: 4px solid #f44336;
}

.team-index .teams .team-container .name-container input {
  border-bottom: 1px solid white;
  -webkit-box-shadow: 0 1px 0 0 white;
  box-shadow: 0 1px 0 0 white;
}

.team-index .teams .team-container .name-container .team-name {
  font-size: 30px;
  color: #47baf3;
  cursor: default;
}

@media only screen and (max-width: 900px) {
  .team-index .teams .team-container .name-container .team-name {
    font-size: 20px;
  }
}

@media only screen and (max-width: 500px) {
  .team-index .teams .team-container .name-container .team-name {
    font-size: 15px;
  }
}

.team-index .teams .team-container .team-pokemon {
  margin-top: 20px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  padding: 20px;
  row-gap: 10px;
  -webkit-column-gap: 10px;
          column-gap: 10px;
}

.team-index .teams .team-container .team-pokemon .add-pokemon {
  margin: 0 auto;
  border: 2px #f44336 solid;
  background-color: #f44336;
  vertical-align: auto;
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  color: white;
  height: 70px;
  width: 70px;
  border-radius: 5px;
  cursor: default;
}

.team-index .teams .team-container .team-pokemon .add-pokemon img {
  width: 100%;
  height: 100%;
}

.team-index .teams .team-container .team-pokemon .add-pokemon:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

@media only screen and (max-width: 1400px) {
  .team-index .teams .team-container .team-pokemon .add-pokemon {
    font-size: 30px;
    width: 50px;
    height: 50px;
  }
}

@media only screen and (max-width: 1100px) {
  .team-index .teams .team-container .team-pokemon .add-pokemon {
    font-size: 20px;
    width: 30px;
    height: 30px;
  }
}

@media only screen and (max-width: 1400px) {
  .team-index .teams .team-container .team-pokemon {
    margin-top: 0;
  }
}

@media only screen and (max-width: 1400px) {
  .team-index .teams .team-container .team-pokemon {
    margin-top: -10px;
  }
}

@media only screen and (max-width: 500px) {
  .team-index .teams .team-container .team-pokemon {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    margin-left: -5px;
  }
}

@media only screen and (max-width: 1400px) {
  .team-index .teams .team-container {
    width: 400px;
    height: 200px;
    left: 20%;
  }
}

@media only screen and (max-width: 1100px) {
  .team-index .teams .team-container {
    left: 22%;
    width: 300px;
    height: 150px;
  }
}

@media only screen and (max-width: 900px) {
  .team-index .teams .team-container {
    width: 200px;
    height: 150px;
  }
}

@media only screen and (max-width: 500px) {
  .team-index .teams .team-container {
    width: 100px;
    height: 200px;
  }
}

.team-index .teams .delete-button-container .delete-team {
  position: absolute;
  right: 15px;
  top: 10px;
}

@media only screen and (max-width: 900px) {
  .team-index .teams .delete-button-container .delete-team {
    width: 37%;
  }
}

@media only screen and (max-width: 500px) {
  .team-index .teams .delete-button-container .delete-team {
    display: none;
  }
}

.team-index .teams .trash-icon {
  display: none;
  position: absolute;
  right: 5px;
  top: 5px;
}

.team-index .teams .trash-icon:hover {
  color: #f44336;
}

@media only screen and (max-width: 500px) {
  .team-index .teams .trash-icon {
    display: inline-block;
  }
}

.team-index .teams .add-team {
  display: inline-block;
  margin-top: 40px;
  width: 150px;
  margin-left: 41%;
}

@media only screen and (max-width: 1100px) {
  .team-index .teams .add-team {
    margin-left: 30%;
  }
}

@media only screen and (max-width: 900px) {
  .team-index .teams .add-team {
    margin-left: 27%;
  }
}

@media only screen and (max-width: 500px) {
  .team-index .teams .add-team {
    margin-left: 10%;
  }
}
/*# sourceMappingURL=TeamIndex.css.map */