.team-pokemon-info {
    position: fixed;
    top: 100px;
    left: 50vw;
    height: 89vh;
    width: 40vw;
    .pokemon-select {
        display: block;
    }
    #react-select-3-input {
        border-bottom: 1px solid white;
    }
    .nature-select {
        display: inline-block;
        width: 25%;
        margin: 10px;
    }

    .item-select-label {
        margin-left: 50px;
    }

    .item-select {
        display: inline-block;
        width: 25%;
        margin: 15px;
    }

    .error-message {
        color: red;
        font-size: 10px;
    }
    .confirm-edit {
        position: absolute;
        bottom: 100px;
        z-index: 0;
    }
}
