@import "../Mixins";
$bannerColor: #3a3a3a;
$rectColor: #f2bd43;
.ability-info {
  position: relative;
  bottom: 90vh;
  margin-top: 10px;
  left: 25vw;
  height: 89vh;
  width: 75vw;
  overflow-y: auto;
  .banner {
    @include addBanner($bannerColor);
    .left-rect {
      @include addLeftRect($rectColor);
    }
    .right-rect {
      @include addRightRect($rectColor);
    }
  }
  .col2 {
    text-align: center;
    .ability-text {
      display: inline-block;
      margin-top: 15px;
      font-size: 20px;
      border: 2px solid #00A9FF;
      border-radius: 20px;
      margin-left: 15px;
      margin-right: 15px;
      padding: 3px;
      @media only screen and (max-width: 900px) {
        font-size: 10px;
      }
    }
  }
  .col3 {
    display: block;
    text-align: center;
    margin-top: 15px;
    font-size: 30px;
    @media only screen and (max-width: 900px) {
      font-size: 15px;
      margin-top: 10px;
    }
  }
  .col4 {
    text-align: center;
    .ability-text {
      display: inline-block;
      margin-top: 15px;
      font-size: 20px;
      border: 2px solid #00A9FF;
      border-radius: 17px;
      margin-left: 15px;
      margin-right: 15px;
      padding: 3px;
      @media only screen and (max-width: 900px) {
        font-size: 10px;
      }
    }
  }
  .col5 {
    text-align: center;
    display: block;
  }

  .col6 {
    text-align: center;
    display: block;
    border: 2px solid black;
    border-radius: 10px;
    margin-right: 15px;
    margin-left: 15px;
    overflow-y: auto;
    max-height: 400px;
    position: relative;
    .pokemon-ability-card {
      margin: 10px;
      border: 2px solid black;
      border-radius: 15px;
      position: relative;
      min-height: 200px;
      cursor: pointer;
      img {
        position: absolute;
        max-width: 110px;
        min-width: 100px;
        height: 100px;
        border: 2px black solid;
        border-radius: 50%;
        left: 10px;
        padding: 5px;
        top: 25px;
        @media only screen and (max-width: 900px) {
          min-width: 65px;
          max-width: 65px;
          height: 65px;
        }
      }
      .name {
        text-align: left;
        font-size: 25px;
        position: absolute;
        left: 125px;
        top: 15px;
        @media only screen and (max-width: 900px) {
          font-size: 15px;
          left: 80px;
        }
      }
      .is-hidden {
        text-align: right;
        font-size: 20px;
        position: absolute;
        right: 20px;
        bottom: 10px;
        @media only screen and (max-width: 900px) {
          font-size: 10px;
        }
      }
      @media only screen and (max-width: 900px) {
        min-height: 130px;
      }
    }
  }
}
