.item-info {
    position: relative;
    bottom:90vh;
    margin-top:10px;
    left: 25vw;
    height: 89vh;
    width: 75vw;
    overflow-y: auto;
    .name {
        text-align: center;
        @media only screen and (max-width: 900px) {
            font-size: 30px
        }
    }
    .col2 {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        .item-category {
            display: flex;
            justify-self: center;
            align-items: center;
            font-size: 30px;
            @media only screen and (max-width: 900px) {
                font-size: 10px;
            }
         }
        .item-sprite {
            justify-self: center;
            width:25%;
            border-radius: 20px;
            @media only screen and (max-width: 900px) {
                width: 20%
            }
        }
        .fling-power {
            display: flex;
            justify-self: center;
            align-items: center;
            font-size: 30px;
            @media only screen and (max-width: 900px) {
                font-size: 10px;
            }
         }
    }
    .col3 {
        display: block;
        text-align: center;
        .item-text {
            display: inline-block;
            margin-top: 15px;
            font-size: 20px;
            border: 2px solid black;
            border-radius: 20px;
            margin-left: 15px;
            margin-right: 15px;
            padding: 3px;
            @media only screen and (max-width: 900px) {
                font-size: 10px;
            }
        }
    }
    .col4 {
        display: block;
        text-align: center;
        font-size: 30px;
        margin-top: 15px;
    }
    .col5 {
        text-align: center;
          .item-text {
              display: inline-block;
              margin-top: 15px;
              font-size: 20px;
              border: 2px solid black;
              border-radius: 17px;
              margin-left: 15px;
              margin-right: 15px;
              padding: 3px;
              @media only screen and (max-width: 900px) {
                  font-size: 10px;
              }
          }
      }
}