.move-info {
  position: relative;
  bottom: 90vh;
  margin-top: 10px;
  left: 25vw;
  height: 89vh;
  width: 75vw;
  overflow-y: auto;
}

.move-info .banner {
  margin: 0 auto;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 3px black solid;
  background-color: #05b5eb;
  margin-left: 20px;
  margin-right: 20px;
  height: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media only screen and (max-width: 900px) {
  .move-info .banner {
    height: 15%;
  }
}

@media only screen and (max-width: 500px) {
  .move-info .banner {
    margin-top: 20px;
    height: 7%;
  }
}

.move-info .banner .left-rect {
  position: relative;
  display: inline-block;
  width: 10%;
  height: 100%;
  background-color: #F44336;
  z-index: 3;
  border-right: 2px black;
  border-radius: 2px;
}

.move-info .banner .right-rect {
  position: relative;
  display: inline-block;
  width: 10%;
  height: 100%;
  background-color: #F44336;
  border-left: 2px black;
  border-radius: 2px;
  z-index: 3;
}

.move-info .banner .name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  position: relative;
  color: whitesmoke;
  font-weight: bolder;
}

@media only screen and (max-width: 900px) {
  .move-info .banner .name {
    font-size: 25px;
  }
}

@media only screen and (max-width: 500px) {
  .move-info .banner .name {
    font-size: 15px;
    margin-top: 15px;
  }
}

.move-info .col2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
}

.move-info .col2 .type {
  -ms-grid-column-align: center;
      justify-self: center;
  width: 100px;
  height: 50px;
  border-radius: 20px;
}

@media only screen and (max-width: 900px) {
  .move-info .col2 .type {
    width: 55px;
    height: 25px;
  }
}

.move-info .col2 .damage-class {
  -ms-grid-column-align: center;
      justify-self: center;
  width: 100px;
  height: 50px;
  border-radius: 20px;
}

@media only screen and (max-width: 900px) {
  .move-info .col2 .damage-class {
    width: 55px;
    height: 25px;
  }
}

.move-info .col2 .pp {
  -ms-grid-column-align: center;
      justify-self: center;
  font-size: 35px;
}

@media only screen and (max-width: 900px) {
  .move-info .col2 .pp {
    font-size: 20px;
  }
}

.col3 {
  display: -ms-grid;
  display: grid;
  margin-top: 20px;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
}

.col3 .move-power {
  font-size: 30px;
  -ms-grid-column-align: center;
      justify-self: center;
}

@media only screen and (max-width: 900px) {
  .col3 .move-power {
    font-size: 15px;
  }
}

.col3 .move-accuracy {
  font-size: 30px;
  -ms-grid-column-align: center;
      justify-self: center;
}

@media only screen and (max-width: 900px) {
  .col3 .move-accuracy {
    font-size: 15px;
  }
}

.col3 .effect-chance {
  font-size: 30px;
  -ms-grid-column-align: center;
      justify-self: center;
}

@media only screen and (max-width: 900px) {
  .col3 .effect-chance {
    font-size: 15px;
  }
}

@media only screen and (max-width: 900px) {
  .col3 {
    margin-top: 15px;
  }
}

.col4 {
  text-align: center;
}

.col4 .move-text {
  display: inline-block;
  margin-top: 15px;
  font-size: 20px;
  border: 2px solid black;
  border-radius: 20px;
  margin-left: 15px;
  margin-right: 15px;
  padding: 3px;
}

@media only screen and (max-width: 900px) {
  .col4 .move-text {
    font-size: 10px;
  }
}

.col5 {
  text-align: center;
  margin-top: 15px;
  font-size: 30px;
}

@media only screen and (max-width: 900px) {
  .col5 {
    font-size: 15px;
    margin-top: 10px;
  }
}

.col6 {
  text-align: center;
}

.col6 .move-text {
  display: inline-block;
  margin-top: 15px;
  font-size: 20px;
  border: 2px solid black;
  border-radius: 17px;
  margin-left: 15px;
  margin-right: 15px;
  padding: 3px;
}

@media only screen and (max-width: 900px) {
  .col6 .move-text {
    font-size: 10px;
  }
}
/*# sourceMappingURL=MoveInfo.css.map */