.item-info {
  position: relative;
  bottom: 25px;
  height: 90vh;
  width: 75vw;
  overflow-y: auto;
}

.item-info .banner {
  margin: 0 auto;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 3px black solid;
  background-color: #9750d1;
  width: 50%;
  height: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 900px) {
  .item-info .banner {
    height: 60px;
  }
}

@media only screen and (max-width: 500px) {
  .item-info .banner {
    margin-top: 30px;
    height: 8%;
  }
}

@media only screen and (max-width: 400px) {
  .item-info .banner {
    height: 5%;
  }
}

.item-info .banner .name {
  display: inline-block;
  position: relative;
  color: whitesmoke;
  font-weight: bolder;
  text-align: center;
  font-size: 35px;
}

@media only screen and (max-width: 900px) {
  .item-info .banner .name {
    font-size: 20px;
  }
}

@media only screen and (max-width: 800px) {
  .item-info .banner .name {
    font-size: 15px;
  }
}

@media only screen and (max-width: 500px) {
  .item-info .banner .name {
    font-size: 13px;
    margin-top: 15px;
  }
}

@media only screen and (max-width: 400px) {
  .item-info .banner .name {
    margin-top: 18px;
    font-size: 10px;
  }
}

.item-info .banner .left-rect {
  position: relative;
  display: inline-block;
  width: 10%;
  height: 100%;
  background-color: #e04eb6;
  z-index: 3;
  border-right: 2px black;
  border-radius: 2px;
}

.item-info .banner .right-rect {
  position: relative;
  display: inline-block;
  width: 10%;
  height: 100%;
  background-color: #e04eb6;
  border-left: 2px black;
  border-radius: 2px;
  z-index: 3;
}

.item-info .col2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
}

.item-info .col2 .item-category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-self: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 30px;
}

@media only screen and (max-width: 900px) {
  .item-info .col2 .item-category {
    font-size: 10px;
  }
}

@media only screen and (max-width: 900px) {
  .item-info .col2 .item-category {
    font-size: 8px;
  }
}

.item-info .col2 .item-sprite {
  -ms-grid-column-align: center;
      justify-self: center;
  width: 25%;
  border-radius: 20px;
}

@media only screen and (max-width: 900px) {
  .item-info .col2 .item-sprite {
    width: 20%;
  }
}

.item-info .col2 .fling-power {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-self: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 30px;
}

@media only screen and (max-width: 900px) {
  .item-info .col2 .fling-power {
    font-size: 10px;
  }
}

@media only screen and (max-width: 900px) {
  .item-info .col2 .fling-power {
    font-size: 8px;
  }
}

.item-info .col3 {
  display: block;
  text-align: center;
}

.item-info .col3 .item-text {
  display: inline-block;
  margin-top: 15px;
  font-size: 20px;
  border: 2px solid #00a9ff;
  border-radius: 20px;
  margin-left: 15px;
  margin-right: 15px;
  padding: 3px;
}

@media only screen and (max-width: 900px) {
  .item-info .col3 .item-text {
    font-size: 10px;
  }
}

.item-info .col4 {
  display: block;
  text-align: center;
  font-size: 30px;
  margin-top: 15px;
}

@media only screen and (max-width: 900px) {
  .item-info .col4 {
    font-size: 15px;
  }
}

.item-info .col5 {
  text-align: center;
}

.item-info .col5 .item-text {
  display: inline-block;
  margin-top: 15px;
  font-size: 20px;
  border: 2px solid #00a9ff;
  border-radius: 17px;
  margin-left: 15px;
  margin-right: 15px;
  padding: 3px;
}

@media only screen and (max-width: 900px) {
  .item-info .col5 .item-text {
    font-size: 10px;
  }
}
/*# sourceMappingURL=ItemInfo.css.map */