.login {
    text-align: center;
    h3 {
        font-weight: bold;
        color: #be0d00;
    }
    .login-form {
        margin: 0 auto;
        margin-top: 5%;
        width: 50%;
        label {
            display: block;
            text-align: left;
            font-size: 20px;
            color: black;
        }
        .login-input {
            display: block;
            position: relative;
            text-align: left;
            width: 100%;
        }
        .login-submit {
            margin-top: 20px;
            background-color: #4CAC6A;
            color: white;
            font-weight: bold;
        }
        .password-invalid {
            text-align: left;
            color: red;
            font-size: 10px;
        }
    }
}