* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Source Code Pro', monospace;
  list-style: none;
  font-weight: 600;
}

body {
  max-height: 100vh;
  max-width: 100%;
  overflow-y: hidden;
}

nav {
  max-height: 200px;
}

nav .nav-link {
  font-size: 20px;
  border: none;
}

nav .brand-logo {
  margin-left: 15px;
}

nav .teams-button {
  margin-left: 15px;
}

nav .sign-out {
  cursor: pointer;
}

nav .sign-out:hover {
  background-color: #db3c30;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

nav .sign-out button {
  display: inline;
  position: relative;
  border: none;
  background-color: transparent;
  color: white;
  top: 2px;
  padding: 0 15px;
  cursor: pointer;
}

nav .mobile-nav-link {
  display: none;
  overflow: hidden;
}

nav #nav-mobile.left {
  position: absolute;
  left: 180px;
}

nav .hamburger-menu {
  display: none;
}

@media only screen and (max-width: 900px) {
  nav .mobile-nav-link {
    display: block;
    overflow: hidden;
  }
  nav .hamburger-menu {
    position: absolute;
    display: block;
    border: 2px #a72d24 solid;
    background-color: #fd1100;
    top: 5px;
    right: 10px;
    height: 45px;
    width: 65px;
    cursor: pointer;
    -webkit-filter: drop-shadow(1px 1px 2px #a72d24);
            filter: drop-shadow(1px 1px 2px #a72d24);
    -webkit-transition: background-color 500ms;
    transition: background-color 500ms;
  }
  nav .hamburger-menu:hover {
    background-color: #da1002;
  }
  nav .hamburger-menu div {
    border-bottom: white 3px solid;
    margin: 8px;
  }
  nav .dropdown {
    display: none;
    position: absolute;
    width: 100%;
    top: 60px;
    background-color: #f31202;
    z-index: 5;
    border: 1px solid red;
    -webkit-animation-name: slideDown;
            animation-name: slideDown;
    -webkit-animation-duration: 350ms;
            animation-duration: 350ms;
    -webkit-transform-origin: top;
            transform-origin: top;
  }
  nav .dropdown li {
    margin: -7px;
  }
  nav .dropdown li:hover {
    background-color: #da1002;
  }
  nav .nav-link {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  nav .dropdown {
    top: 56px;
  }
  nav .dropdown li {
    margin: -4px;
  }
}

.move-link {
  top: 500px;
}

@-webkit-keyframes slideDown {
  0% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}

@keyframes slideDown {
  0% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}

.home {
  overflow-y: auto;
  height: 100vh;
}

.home .indicator-item {
  z-index: 2;
}

.home .indicator-item.active {
  background-color: #f44336 !important;
}

.home .about {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  bottom: 40px;
  text-align: center;
  overflow-wrap: break-word;
}

.home .about .desc {
  text-align: center;
  max-width: 500px;
}

@media only screen and (max-width: 500px) {
  .home .about .desc {
    font-size: 15px;
  }
}

.home .about img {
  margin: 5px;
  width: 40px;
}

@media only screen and (max-width: 500px) {
  .home .about img {
    width: 30px;
  }
}

.home .about .lugia-icon {
  position: relative;
  width: 60px;
  bottom: 10px;
}

@media only screen and (max-width: 500px) {
  .home .about .lugia-icon {
    width: 45px;
  }
}

@media only screen and (max-width: 500px) {
  .home .about {
    margin-top: 25px;
  }
  .home .about h4 {
    font-size: 20px;
  }
}

.pokemon-info {
  position: relative;
  bottom: 90vh;
  margin-top: 10px;
  left: 25vw;
  height: 89vh;
  width: 75vw;
  overflow-y: auto;
}

.pokemon-info .banner {
  margin: 0 auto;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 3px black solid;
  background-color: #f44336;
  width: 50%;
  height: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 900px) {
  .pokemon-info .banner {
    height: 12%;
  }
}

@media only screen and (max-width: 500px) {
  .pokemon-info .banner {
    margin-top: 20px;
    height: 8%;
  }
}

@media only screen and (max-width: 400px) {
  .pokemon-info .banner {
    height: 5%;
  }
}

.pokemon-info .banner .name {
  display: inline-block;
  position: relative;
  color: whitesmoke;
  font-weight: bolder;
  text-align: center;
  font-size: 35px;
}

@media only screen and (max-width: 900px) {
  .pokemon-info .banner .name {
    font-size: 20px;
  }
}

@media only screen and (max-width: 500px) {
  .pokemon-info .banner .name {
    font-size: 13px;
    margin-top: 15px;
  }
}

@media only screen and (max-width: 400px) {
  .pokemon-info .banner .name {
    margin-top: 18px;
    font-size: 12px;
  }
}

.pokemon-info .banner .left-rect {
  position: relative;
  display: inline-block;
  width: 10%;
  height: 100%;
  background-color: #fefefe;
  z-index: 3;
  border-right: 2px black;
  border-radius: 2px;
}

.pokemon-info .banner .right-rect {
  position: relative;
  display: inline-block;
  width: 10%;
  height: 100%;
  background-color: #fefefe;
  border-left: 2px black;
  border-radius: 2px;
  z-index: 3;
}

.pokemon-info .pokemon-id {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-self: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 45px;
  border: 5px solid #f44336;
  -webkit-filter: drop-shadow(4px 4px #a3a3a3);
          filter: drop-shadow(4px 4px #a3a3a3);
  height: 55%;
  padding: 10px;
  border-radius: 5px;
  background-color: #f44336;
  color: white;
  max-height: 80px;
  margin: 10px;
}

@media only screen and (max-width: 900px) {
  .pokemon-info .pokemon-id {
    font-size: 20px;
    height: 40%;
    border-width: 3px;
  }
}

@media only screen and (max-width: 500px) {
  .pokemon-info .pokemon-id {
    font-size: 15px;
    height: 30%;
    border-width: 2px;
  }
}

.pokemon-info .sprites {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pokemon-info .sprites img {
  height: 120px;
}

@media only screen and (max-width: 900px) {
  .pokemon-info .sprites img {
    height: 75px;
  }
}

@media only screen and (max-width: 600px) {
  .pokemon-info .sprites img {
    height: 55px;
  }
}

.pokemon-info .row2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
}

.pokemon-info .row2 .types {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 30px;
  margin-left: 100px;
}

@media only screen and (max-width: 900px) {
  .pokemon-info .row2 .types {
    font-size: 20px;
    margin-left: 35px;
  }
}

@media only screen and (max-width: 900px) {
  .pokemon-info .row2 .types .type-header {
    font-size: 15px;
    margin-right: 15px;
  }
}

.pokemon-info .row2 .types .type {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 100px;
  height: 50px;
  border-radius: 20px;
}

@media only screen and (max-width: 900px) {
  .pokemon-info .row2 .types .type {
    width: 55px;
    height: 25px;
  }
}

@media only screen and (max-width: 900px) {
  .pokemon-info .row2 .types .type {
    width: 40px;
    height: 15px;
  }
}

.pokemon-info .row3 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.pokemon-info .row3 .base-stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  font-size: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 500px) {
  .pokemon-info .row3 .base-stats .stat-header {
    font-size: 15px;
  }
}

.pokemon-info .row3 .base-stats .stat-list {
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  font-size: 25px;
}

@media only screen and (max-width: 900px) {
  .pokemon-info .row3 .base-stats .stat-list {
    font-size: 10px;
  }
}

@media only screen and (max-width: 900px) {
  .pokemon-info .row3 .base-stats {
    font-size: 20px;
  }
}

.pokemon-info .row3 .abilties {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-self: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 30px;
}

.pokemon-info .row3 .abilties .ability-list {
  border: 2px whitesmoke solid;
  border-radius: 12px;
  padding: 5px;
  background-color: #3a3a3a;
  -webkit-filter: drop-shadow(2px 2px black);
          filter: drop-shadow(2px 2px black);
}

.pokemon-info .row3 .abilties .ability-list .ability {
  cursor: default;
  font-size: 20px;
  text-align: center;
  color: whitesmoke;
}

.pokemon-info .row3 .abilties .ability-list .ability:hover {
  color: #F2BD43;
}

@media only screen and (max-width: 900px) {
  .pokemon-info .row3 .abilties .ability-list .ability {
    font-size: 10px;
  }
}

@media only screen and (max-width: 500px) {
  .pokemon-info .row3 .abilties .ability-header {
    margin-top: 10px;
  }
}

@media only screen and (max-width: 900px) {
  .pokemon-info .row3 .abilties {
    font-size: 20px;
  }
}

@media only screen and (max-width: 500px) {
  .pokemon-info .row3 .abilties {
    position: relative;
    font-size: 10px;
    right: 15px;
  }
}

.pokemon-info .row3 .description {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 30px;
  margin-bottom: 5px;
}

.pokemon-info .row3 .description .text {
  border: 2px solid black;
  -webkit-filter: drop-shadow(3px 3px #929292);
          filter: drop-shadow(3px 3px #929292);
  color: whitesmoke;
  padding: 5px;
  text-align: center;
  border-radius: 12px;
  font-size: 20px;
  overflow-wrap: break-word;
  width: 450px;
}

@media only screen and (max-width: 900px) {
  .pokemon-info .row3 .description .text {
    width: 150px;
    font-size: 12px;
  }
}

@media only screen and (max-width: 500px) {
  .pokemon-info .row3 .description .text {
    width: 100px;
    font-size: 8px;
    padding: 3px;
  }
}

@media only screen and (max-width: 900px) {
  .pokemon-info .row3 .description {
    font-size: 20px;
  }
}

@media only screen and (max-width: 900px) {
  .pokemon-info .row3 .description {
    font-size: 10px;
  }
}

.pokemon-info .evolution-chain-header {
  font-size: 25px;
  text-align: center;
}

@media only screen and (max-width: 900px) {
  .pokemon-info .evolution-chain-header {
    font-size: 15px;
  }
}

.pokemon-info .evolution-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: relative;
}

.pokemon-info .evolution-line .stage-image {
  text-align: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border: 3px #00a9ff solid;
  padding: 10px;
  border-radius: 10px;
  margin: 10px;
  position: relative;
}

.pokemon-info .evolution-line .stage-image:hover {
  background-color: #ececec;
  opacity: 0.8;
}

.pokemon-info .evolution-line .stage-image img {
  width: 40%;
  mix-blend-mode: multiply;
}

@media only screen and (max-width: 500px) {
  .pokemon-info .evolution-line .stage-image img {
    width: 20%;
  }
}

.pokemon-info .evolution-line .stage-image p {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-size: 15px;
}

@media only screen and (max-width: 500px) {
  .pokemon-info .evolution-line .stage-image p {
    font-size: 10px;
  }
}

@media only screen and (max-width: 500px) {
  .pokemon-info .evolution-line .stage-image {
    display: block;
  }
}

@media only screen and (max-width: 500px) {
  .pokemon-info .evolution-line {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.pokemon-info .arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pokemon-info .arrow .arrow-right {
  position: relative;
  top: 45%;
}

.pokemon-info .form-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: relative;
  text-align: center;
}

.pokemon-info .form-line .form {
  border: 3px #00a9ff solid;
  padding: 10px;
  border-radius: 10px;
  margin: 10px;
  position: relative;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.pokemon-info .form-line .form:hover {
  background-color: #ececec;
  opacity: 0.8;
}

.pokemon-info .form-line .form img {
  mix-blend-mode: multiply;
  margin: 0 auto;
  width: 50%;
  margin-bottom: 7px;
}

@media only screen and (max-width: 500px) {
  .pokemon-info .form-line .form {
    display: block;
  }
}

@media only screen and (max-width: 500px) {
  .pokemon-info .form-line {
    display: block;
  }
}

.pokemon-info .row5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pokemon-info .row5 .move-set {
  text-align: center;
  width: 70vw;
  border: 3px solid #269bff;
  border-radius: 10px;
  max-height: 400px;
  overflow-y: auto;
  margin-bottom: 20px;
}

.pokemon-info .row5 .move-set::-webkit-scrollbar {
  display: none;
}

.pokemon-info .row5 .move-set .move {
  position: relative;
  background-color: #3a3a3a;
  padding: 10px;
  text-align: left;
  font-size: 20px;
  color: whitesmoke;
  border: 2px solid black;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.pokemon-info .row5 .move-set .move:hover {
  opacity: 0.9;
}

.pokemon-info .row5 .move-set .move .move-link {
  display: inline;
  color: #00a9ff;
}

@media only screen and (max-width: 900px) {
  .pokemon-info .row5 .move-set .move .move-link {
    font-size: 15px;
  }
}

@media only screen and (max-width: 500px) {
  .pokemon-info .row5 .move-set .move .move-link {
    font-size: 10px;
  }
}

.pokemon-info .row5 .move-set .move .learn-method {
  display: inline;
  text-align: right;
  position: absolute;
  right: 20px;
}

@media only screen and (max-width: 900px) {
  .pokemon-info .row5 .move-set .move .learn-method {
    font-size: 10px;
  }
}

@media only screen and (max-width: 500px) {
  .pokemon-info .row5 .move-set .move .learn-method {
    font-size: 8px;
  }
}

@media only screen and (max-width: 900px) {
  .pokemon-info .row5 .move-set .move {
    font-size: 15px;
  }
}

@media only screen and (max-width: 900px) {
  .pokemon-info .row5 .move-set {
    font-size: 20px;
    width: 60vw;
  }
}

.pokemon-info .chain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (max-width: 500px) {
  .pokemon-info .chain {
    display: block;
  }
}

.pokemon-info .form-list-header {
  text-align: center;
  font-size: 25px;
}

.move-info {
  position: relative;
  bottom: 90vh;
  margin-top: 10px;
  left: 25vw;
  height: 89vh;
  width: 75vw;
  overflow-y: auto;
}

.move-info .banner {
  margin: 0 auto;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 3px black solid;
  background-color: #05b5eb;
  width: 50%;
  height: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 900px) {
  .move-info .banner {
    height: 12%;
  }
}

@media only screen and (max-width: 500px) {
  .move-info .banner {
    margin-top: 20px;
    height: 8%;
  }
}

@media only screen and (max-width: 400px) {
  .move-info .banner {
    height: 5%;
  }
}

.move-info .banner .name {
  display: inline-block;
  position: relative;
  color: whitesmoke;
  font-weight: bolder;
  text-align: center;
  font-size: 35px;
}

@media only screen and (max-width: 900px) {
  .move-info .banner .name {
    font-size: 20px;
  }
}

@media only screen and (max-width: 500px) {
  .move-info .banner .name {
    font-size: 13px;
    margin-top: 15px;
  }
}

@media only screen and (max-width: 400px) {
  .move-info .banner .name {
    margin-top: 18px;
    font-size: 12px;
  }
}

.move-info .banner .left-rect {
  position: relative;
  display: inline-block;
  width: 10%;
  height: 100%;
  background-color: #f44336;
  z-index: 3;
  border-right: 2px black;
  border-radius: 2px;
}

.move-info .banner .right-rect {
  position: relative;
  display: inline-block;
  width: 10%;
  height: 100%;
  background-color: #f44336;
  border-left: 2px black;
  border-radius: 2px;
  z-index: 3;
}

.move-info .col2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
}

.move-info .col2 .type {
  -ms-grid-column-align: center;
      justify-self: center;
  width: 100px;
  height: 50px;
  border-radius: 20px;
}

@media only screen and (max-width: 900px) {
  .move-info .col2 .type {
    width: 55px;
    height: 25px;
  }
}

.move-info .col2 .damage-class {
  -ms-grid-column-align: center;
      justify-self: center;
  width: 100px;
  height: 50px;
  border-radius: 20px;
}

@media only screen and (max-width: 900px) {
  .move-info .col2 .damage-class {
    width: 55px;
    height: 25px;
  }
}

.move-info .col2 .pp {
  -ms-grid-column-align: center;
      justify-self: center;
  font-size: 35px;
}

@media only screen and (max-width: 900px) {
  .move-info .col2 .pp {
    font-size: 20px;
  }
}

@media only screen and (max-width: 500px) {
  .move-info .col2 .pp {
    font-size: 15px;
  }
}

.col3 {
  display: -ms-grid;
  display: grid;
  margin-top: 20px;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
}

.col3 .move-power {
  font-size: 30px;
  -ms-grid-column-align: center;
      justify-self: center;
}

@media only screen and (max-width: 900px) {
  .col3 .move-power {
    font-size: 15px;
  }
}

@media only screen and (max-width: 500px) {
  .col3 .move-power {
    font-size: 10px;
  }
}

.col3 .move-accuracy {
  font-size: 30px;
  -ms-grid-column-align: center;
      justify-self: center;
}

@media only screen and (max-width: 900px) {
  .col3 .move-accuracy {
    font-size: 15px;
  }
}

@media only screen and (max-width: 500px) {
  .col3 .move-accuracy {
    font-size: 10px;
  }
}

.col3 .effect-chance {
  font-size: 30px;
  -ms-grid-column-align: center;
      justify-self: center;
}

@media only screen and (max-width: 900px) {
  .col3 .effect-chance {
    font-size: 15px;
  }
}

@media only screen and (max-width: 500px) {
  .col3 .effect-chance {
    font-size: 10px;
  }
}

@media only screen and (max-width: 900px) {
  .col3 {
    margin-top: 15px;
  }
}

.col4 {
  text-align: center;
}

.col4 .move-text {
  display: inline-block;
  margin-top: 15px;
  font-size: 20px;
  border: 2px solid #00A9FF;
  border-radius: 20px;
  margin-left: 15px;
  margin-right: 15px;
  padding: 3px;
}

@media only screen and (max-width: 900px) {
  .col4 .move-text {
    font-size: 10px;
  }
}

.col5 {
  text-align: center;
  margin-top: 15px;
  font-size: 30px;
}

@media only screen and (max-width: 900px) {
  .col5 {
    font-size: 15px;
    margin-top: 10px;
  }
}

.col6 {
  text-align: center;
}

.col6 .move-text {
  display: inline-block;
  margin-top: 15px;
  font-size: 20px;
  border: 2px solid #00A9FF;
  border-radius: 17px;
  margin-left: 15px;
  margin-right: 15px;
  padding: 3px;
}

@media only screen and (max-width: 900px) {
  .col6 .move-text {
    font-size: 10px;
  }
}

.ability-info {
  position: relative;
  bottom: 90vh;
  margin-top: 10px;
  left: 25vw;
  height: 89vh;
  width: 75vw;
  overflow-y: auto;
}

.ability-info .banner {
  margin: 0 auto;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 3px black solid;
  background-color: #3a3a3a;
  width: 50%;
  height: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 900px) {
  .ability-info .banner {
    height: 12%;
  }
}

@media only screen and (max-width: 500px) {
  .ability-info .banner {
    margin-top: 20px;
    height: 8%;
  }
}

@media only screen and (max-width: 400px) {
  .ability-info .banner {
    height: 5%;
  }
}

.ability-info .banner .name {
  display: inline-block;
  position: relative;
  color: whitesmoke;
  font-weight: bolder;
  text-align: center;
  font-size: 35px;
}

@media only screen and (max-width: 900px) {
  .ability-info .banner .name {
    font-size: 20px;
  }
}

@media only screen and (max-width: 500px) {
  .ability-info .banner .name {
    font-size: 13px;
    margin-top: 15px;
  }
}

@media only screen and (max-width: 400px) {
  .ability-info .banner .name {
    margin-top: 18px;
    font-size: 12px;
  }
}

.ability-info .banner .left-rect {
  position: relative;
  display: inline-block;
  width: 10%;
  height: 100%;
  background-color: #f2bd43;
  z-index: 3;
  border-right: 2px black;
  border-radius: 2px;
}

.ability-info .banner .right-rect {
  position: relative;
  display: inline-block;
  width: 10%;
  height: 100%;
  background-color: #f2bd43;
  border-left: 2px black;
  border-radius: 2px;
  z-index: 3;
}

.ability-info .col2 {
  text-align: center;
}

.ability-info .col2 .ability-text {
  display: inline-block;
  margin-top: 15px;
  font-size: 20px;
  border: 2px solid #00A9FF;
  border-radius: 20px;
  margin-left: 15px;
  margin-right: 15px;
  padding: 3px;
}

@media only screen and (max-width: 900px) {
  .ability-info .col2 .ability-text {
    font-size: 10px;
  }
}

.ability-info .col3 {
  display: block;
  text-align: center;
  margin-top: 15px;
  font-size: 30px;
}

@media only screen and (max-width: 900px) {
  .ability-info .col3 {
    font-size: 15px;
    margin-top: 10px;
  }
}

.ability-info .col4 {
  text-align: center;
}

.ability-info .col4 .ability-text {
  display: inline-block;
  margin-top: 15px;
  font-size: 20px;
  border: 2px solid #00A9FF;
  border-radius: 17px;
  margin-left: 15px;
  margin-right: 15px;
  padding: 3px;
}

@media only screen and (max-width: 900px) {
  .ability-info .col4 .ability-text {
    font-size: 10px;
  }
}

.ability-info .col5 {
  text-align: center;
  display: block;
}

.ability-info .col6 {
  text-align: center;
  display: block;
  border: 2px solid black;
  border-radius: 10px;
  margin-right: 15px;
  margin-left: 15px;
  overflow-y: auto;
  max-height: 400px;
  position: relative;
}

.ability-info .col6 .pokemon-ability-card {
  margin: 10px;
  border: 2px solid black;
  border-radius: 15px;
  position: relative;
  min-height: 200px;
  cursor: pointer;
}

.ability-info .col6 .pokemon-ability-card img {
  position: absolute;
  max-width: 110px;
  min-width: 100px;
  height: 100px;
  border: 2px black solid;
  border-radius: 50%;
  left: 10px;
  padding: 5px;
  top: 25px;
}

@media only screen and (max-width: 900px) {
  .ability-info .col6 .pokemon-ability-card img {
    min-width: 65px;
    max-width: 65px;
    height: 65px;
  }
}

.ability-info .col6 .pokemon-ability-card .name {
  text-align: left;
  font-size: 25px;
  position: absolute;
  left: 125px;
  top: 15px;
}

@media only screen and (max-width: 900px) {
  .ability-info .col6 .pokemon-ability-card .name {
    font-size: 15px;
    left: 80px;
  }
}

.ability-info .col6 .pokemon-ability-card .is-hidden {
  text-align: right;
  font-size: 20px;
  position: absolute;
  right: 20px;
  bottom: 10px;
}

@media only screen and (max-width: 900px) {
  .ability-info .col6 .pokemon-ability-card .is-hidden {
    font-size: 10px;
  }
}

@media only screen and (max-width: 900px) {
  .ability-info .col6 .pokemon-ability-card {
    min-height: 130px;
  }
}

.item-info {
  position: relative;
  bottom: 90vh;
  margin-top: 10px;
  left: 25vw;
  height: 89vh;
  width: 75vw;
  overflow-y: auto;
}

.item-info .banner {
  margin: 0 auto;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 3px black solid;
  background-color: #9750d1;
  width: 50%;
  height: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 900px) {
  .item-info .banner {
    height: 12%;
  }
}

@media only screen and (max-width: 500px) {
  .item-info .banner {
    margin-top: 20px;
    height: 8%;
  }
}

@media only screen and (max-width: 400px) {
  .item-info .banner {
    height: 5%;
  }
}

.item-info .banner .name {
  display: inline-block;
  position: relative;
  color: whitesmoke;
  font-weight: bolder;
  text-align: center;
  font-size: 35px;
}

@media only screen and (max-width: 900px) {
  .item-info .banner .name {
    font-size: 20px;
  }
}

@media only screen and (max-width: 500px) {
  .item-info .banner .name {
    font-size: 13px;
    margin-top: 15px;
  }
}

@media only screen and (max-width: 400px) {
  .item-info .banner .name {
    margin-top: 18px;
    font-size: 12px;
  }
}

.item-info .banner .left-rect {
  position: relative;
  display: inline-block;
  width: 10%;
  height: 100%;
  background-color: #e04eb6;
  z-index: 3;
  border-right: 2px black;
  border-radius: 2px;
}

.item-info .banner .right-rect {
  position: relative;
  display: inline-block;
  width: 10%;
  height: 100%;
  background-color: #e04eb6;
  border-left: 2px black;
  border-radius: 2px;
  z-index: 3;
}

.item-info .col2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
}

.item-info .col2 .item-category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-self: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 30px;
}

@media only screen and (max-width: 900px) {
  .item-info .col2 .item-category {
    font-size: 10px;
  }
}

@media only screen and (max-width: 900px) {
  .item-info .col2 .item-category {
    font-size: 8px;
  }
}

.item-info .col2 .item-sprite {
  -ms-grid-column-align: center;
      justify-self: center;
  width: 25%;
  border-radius: 20px;
}

@media only screen and (max-width: 900px) {
  .item-info .col2 .item-sprite {
    width: 20%;
  }
}

.item-info .col2 .fling-power {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-self: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 30px;
}

@media only screen and (max-width: 900px) {
  .item-info .col2 .fling-power {
    font-size: 10px;
  }
}

@media only screen and (max-width: 900px) {
  .item-info .col2 .fling-power {
    font-size: 8px;
  }
}

.item-info .col3 {
  display: block;
  text-align: center;
}

.item-info .col3 .item-text {
  display: inline-block;
  margin-top: 15px;
  font-size: 20px;
  border: 2px solid #00A9FF;
  border-radius: 20px;
  margin-left: 15px;
  margin-right: 15px;
  padding: 3px;
}

@media only screen and (max-width: 900px) {
  .item-info .col3 .item-text {
    font-size: 10px;
  }
}

.item-info .col4 {
  display: block;
  text-align: center;
  font-size: 30px;
  margin-top: 15px;
}

@media only screen and (max-width: 900px) {
  .item-info .col4 {
    font-size: 15px;
  }
}

.item-info .col5 {
  text-align: center;
}

.item-info .col5 .item-text {
  display: inline-block;
  margin-top: 15px;
  font-size: 20px;
  border: 2px solid #00A9FF;
  border-radius: 17px;
  margin-left: 15px;
  margin-right: 15px;
  padding: 3px;
}

@media only screen and (max-width: 900px) {
  .item-info .col5 .item-text {
    font-size: 10px;
  }
}

.signup {
  text-align: center;
}

.signup h3 {
  font-weight: bold;
  color: #be0d00;
}

.signup .signup-form {
  margin: 0 auto;
  width: 50%;
}

.signup .signup-form label {
  margin-top: 20px;
  display: block;
  text-align: left;
  font-size: 20px;
  color: black;
}

.signup .signup-form .signup-input {
  display: block;
  position: relative;
  text-align: left;
  width: 100%;
}

.signup .signup-form .signup-submit {
  margin-top: 20px;
  background-color: #4CAC6A;
  color: white;
  font-weight: bold;
}

.signup .signup-form .error-message {
  text-align: left;
  color: red;
  font-size: 10px;
}

.login {
  text-align: center;
}

.login h3 {
  font-weight: bold;
  color: #be0d00;
}

.login .login-form {
  margin: 0 auto;
  margin-top: 5%;
  width: 50%;
}

.login .login-form label {
  margin-top: 40px;
  display: block;
  text-align: left;
  font-size: 20px;
  color: black;
}

.login .login-form .login-input {
  display: block;
  position: relative;
  text-align: left;
  width: 100%;
}

.login .login-form .login-submit {
  margin-top: 20px;
  background-color: #4CAC6A;
  color: white;
  font-weight: bold;
}

.login .login-form .error-message {
  text-align: left;
  color: red;
  font-size: 10px;
}

.team-index h1 {
  position: relative;
  display: inline-block;
  margin-left: 33%;
  font-weight: bolder;
  border: 2px solid whitesmoke;
  background-color: #3a3a3a;
  color: whitesmoke;
  padding: 10px;
  border-radius: 10px;
}

.team-index .team-pokemon-info {
  padding-left: 20px;
}

.team-index .teams {
  position: relative;
  overflow-y: scroll;
  width: 60%;
  height: 90vh;
}

.team-index .teams::-webkit-scrollbar {
  width: 15px;
}

.team-index .teams::-webkit-scrollbar-track {
  background-color: white;
  border-right: #f44336 2px solid;
  height: 100px;
  display: none;
}

.team-index .teams::-webkit-scrollbar-thumb {
  background-color: #10b4e6;
  height: 60px;
  display: none;
}

.team-index .teams::-webkit-scrollbar-thumb:hover {
  background-color: #2da8e0;
}

@media only screen and (max-width: 1400px) {
  .team-index .teams h1 {
    font-size: 40px;
  }
}

@media only screen and (max-width: 1100px) {
  .team-index .teams h1 {
    font-size: 30px;
  }
}

@media only screen and (max-width: 900px) {
  .team-index .teams h1 {
    margin-bottom: -20px;
    font-size: 20px;
  }
}

@media only screen and (max-width: 500px) {
  .team-index .teams h1 {
    font-size: 15px;
    margin-left: 55px;
  }
}

.team-index .teams .team-container {
  margin-top: 40px;
  position: relative;
  display: block;
  border: 2px black solid;
  left: 25%;
  width: 500px;
  height: 300px;
  background-color: #00c0ff;
}

.team-index .teams .team-container .name-container {
  border-bottom: whitesmoke 2px solid;
  background-color: white;
  border-bottom: 4px solid #f44336;
}

.team-index .teams .team-container .name-container input {
  border-bottom: 1px solid white;
  -webkit-box-shadow: 0 1px 0 0 white;
  box-shadow: 0 1px 0 0 white;
}

.team-index .teams .team-container .name-container .team-name {
  font-size: 30px;
  color: #47baf3;
}

@media only screen and (max-width: 500px) {
  .team-index .teams .team-container .name-container .team-name {
    font-size: 15px;
  }
}

.team-index .teams .team-container .team-pokemon {
  margin-top: 20px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  padding: 20px;
  row-gap: 10px;
  -webkit-column-gap: 10px;
          column-gap: 10px;
}

.team-index .teams .team-container .team-pokemon .add-pokemon {
  margin: 0 auto;
  border: 2px #f44336 solid;
  background-color: #f44336;
  vertical-align: auto;
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  color: white;
  height: 70px;
  width: 70px;
  border-radius: 5px;
  cursor: default;
}

.team-index .teams .team-container .team-pokemon .add-pokemon img {
  width: 100%;
  height: 100%;
}

.team-index .teams .team-container .team-pokemon .add-pokemon:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

@media only screen and (max-width: 1400px) {
  .team-index .teams .team-container .team-pokemon .add-pokemon {
    font-size: 30px;
    width: 50px;
    height: 50px;
  }
}

@media only screen and (max-width: 1100px) {
  .team-index .teams .team-container .team-pokemon .add-pokemon {
    font-size: 20px;
    width: 30px;
    height: 30px;
  }
}

@media only screen and (max-width: 1400px) {
  .team-index .teams .team-container .team-pokemon {
    margin-top: 0;
  }
}

@media only screen and (max-width: 1400px) {
  .team-index .teams .team-container .team-pokemon {
    margin-top: -10px;
  }
}

@media only screen and (max-width: 500px) {
  .team-index .teams .team-container .team-pokemon {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    margin-left: -5px;
  }
}

@media only screen and (max-width: 1400px) {
  .team-index .teams .team-container {
    width: 400px;
    height: 200px;
    left: 20%;
  }
}

@media only screen and (max-width: 1100px) {
  .team-index .teams .team-container {
    left: 22%;
    width: 300px;
    height: 150px;
  }
}

@media only screen and (max-width: 900px) {
  .team-index .teams .team-container {
    width: 200px;
    height: 150px;
  }
}

@media only screen and (max-width: 500px) {
  .team-index .teams .team-container {
    width: 100px;
    height: 200px;
  }
}

.team-index .teams .delete-button-container .delete-team {
  position: absolute;
  right: 15px;
  top: 10px;
}

.team-index .teams .add-team {
  display: inline-block;
  margin-top: 40px;
  width: 150px;
  margin-left: 41%;
}

@media only screen and (max-width: 1100px) {
  .team-index .teams .add-team {
    margin-left: 30%;
  }
}

@media only screen and (max-width: 900px) {
  .team-index .teams .add-team {
    margin-left: 27%;
  }
}

@media only screen and (max-width: 500px) {
  .team-index .teams .add-team {
    margin-left: 10%;
  }
}

.team-pokemon-info {
  position: fixed;
  top: 100px;
  left: 50%;
  height: 89vh;
  width: 700px;
  overflow-y: auto;
}

.team-pokemon-info::-webkit-scrollbar {
  display: none;
}

.team-pokemon-info #react-select-3-input {
  border-bottom: 1px solid white;
}

.team-pokemon-info .mod-input {
  position: relative;
  display: inline;
  width: 40px !important;
  margin-left: 20px !important;
  margin-right: 10px !important;
  font-size: 25px;
}

@media only screen and (max-width: 900px) {
  .team-pokemon-info .mod-input {
    width: 100% !important;
  }
}

.team-pokemon-info .nature-select {
  display: inline-block;
  width: 45%;
  margin: 10px;
}

@media only screen and (max-width: 1100px) {
  .team-pokemon-info .nature-select {
    width: 90%;
  }
}

.team-pokemon-info .ivs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media only screen and (max-width: 900px) {
  .team-pokemon-info .ivs {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.team-pokemon-info .other-vars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 10px;
}

@media only screen and (max-width: 1100px) {
  .team-pokemon-info .other-vars {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.team-pokemon-info .other-vars label {
  margin-top: 25px;
}

.team-pokemon-info .ability-select {
  display: inline-block;
  width: 45%;
  margin: 10px;
}

@media only screen and (max-width: 1100px) {
  .team-pokemon-info .ability-select {
    width: 90%;
  }
}

.team-pokemon-info .mini-error-message {
  display: inline;
  position: relative;
  color: red;
  font-size: 10px;
  top: 40px;
  right: 75px;
}

.team-pokemon-info .stat-header {
  font-size: 0.8rem;
  color: #9e9e9e;
}

@media only screen and (max-width: 1400px) {
  .team-pokemon-info .stat-header {
    margin-left: 100px;
  }
}

.team-pokemon-info .item-select-label {
  margin-left: 50px;
}

@media only screen and (max-width: 1100px) {
  .team-pokemon-info .item-select-label {
    margin-left: 0;
  }
}

.team-pokemon-info .item-select {
  display: inline-block;
  width: 45%;
  margin: 15px;
}

@media only screen and (max-width: 1100px) {
  .team-pokemon-info .item-select {
    width: 90%;
    margin: 10px;
  }
}

.team-pokemon-info .error-message {
  color: red;
  font-size: 10px;
}

.team-pokemon-info .confirm-edit {
  position: relative;
  z-index: 0;
  left: 65%;
  margin-top: 15px;
  margin-right: 10px;
}

@media only screen and (max-width: 1100px) {
  .team-pokemon-info .confirm-edit {
    left: 53%;
  }
}

@media only screen and (max-width: 900px) {
  .team-pokemon-info .confirm-edit {
    left: 32%;
  }
}

@media only screen and (max-width: 500px) {
  .team-pokemon-info .confirm-edit {
    left: 28%;
  }
}

@media only screen and (max-width: 1400px) {
  .team-pokemon-info {
    width: 550px;
  }
}

@media only screen and (max-width: 1100px) {
  .team-pokemon-info {
    width: 450px;
  }
}

@media only screen and (max-width: 900px) {
  .team-pokemon-info {
    width: 300px;
  }
}

@media only screen and (max-width: 500px) {
  .team-pokemon-info {
    width: 150px;
  }
}

.damage-calc-page {
  position: relative;
  height: 90vh;
  display: -ms-grid;
  display: grid;
  overflow-y: scroll;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
}

.damage-calc-page .set-damage-vars {
  border: 2px solid black;
  position: relative;
  display: inline-block;
  margin: 10px;
}

.damage-calc-page .set-damage-vars h3 {
  text-align: center;
}

.damage-calc-page .set-damage-vars label {
  margin: 10px;
}

.damage-calc-page .set-damage-vars .pokemon-select {
  margin-top: 5px;
  margin-left: 10px;
  margin-right: 30px;
}

.damage-calc-page .set-damage-vars .level-input {
  display: block;
  margin-top: 5px;
  margin-left: 10px;
  width: 90%;
}

.damage-calc-page .set-damage-vars .point-labels {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.damage-calc-page .set-damage-vars .ivs {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
}

.damage-calc-page .set-damage-vars .ivs .stat-labels {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.damage-calc-page .set-damage-vars .ivs .stat-labels label {
  margin-top: 25px;
}

.damage-calc-page .set-damage-vars .ivs .iv-inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
}

.damage-calc-page .set-damage-vars .ivs .iv-inputs .mod-input {
  width: 40px;
  font-size: 0.8rem;
}

.damage-calc-page .set-damage-vars .ivs .ev-inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
}

.damage-calc-page .set-damage-vars .ivs .ev-inputs .mod-input {
  width: 40px;
  font-size: 0.8rem;
}

.forbidden .forbidden-message {
  padding: 15px;
  display: inline-block;
  border: #bc0000 4px solid;
  margin-left: 20%;
  margin-top: 15px;
}

.forbidden h1 {
  text-align: center;
  color: #bc0000;
  font-weight: 800;
}

.forbidden p {
  text-align: center;
  font-weight: bolder;
  font-size: 25px;
}

/* ----------------- Pokemon Index */
.list {
  overflow-y: auto;
  border-top: solid 2px #10B4E6;
  overflow-x: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 25vw;
  height: 79vh;
}

.list::-webkit-scrollbar {
  width: 15px;
}

.list::-webkit-scrollbar-track {
  background-color: #fcfcfc;
  border-right: #2DA8E0 3px solid;
}

.list::-webkit-scrollbar-thumb {
  background-color: #10b4e6;
  height: 60px;
}

.list::-webkit-scrollbar-thumb:hover {
  background-color: #2da8e0;
}

.list button {
  font-size: 35px;
  font-weight: 100;
  background-color: white;
  padding: 10px;
  border-color: #10b4e6;
  border-radius: 4px;
}

.list button:active {
  background-color: white;
}

@media only screen and (max-width: 900px) {
  .list button {
    font-size: 15px;
  }
  .list::-webkit-scrollbar {
    width: 5px;
  }
}

@media only screen and (max-width: 500px) {
  .list button {
    font-size: 10px;
  }
  .list::-webkit-scrollbar {
    width: 4px;
  }
}

.input-field {
  width: 20vw;
  left: 15px;
}

.input-field label {
  font-family: 'Roboto', sans-serif;
}

.selected {
  font-weight: 500;
  background-color: #ff1100 !important;
  border-color: #ff1100 !important;
  color: white;
}

.lds-ring {
  display: inline;
  position: relative;
  width: 80px;
  height: 80px;
  left: 40%;
  top: 30%;
}

.lds-ring div {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  -webkit-animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
          animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: red transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  -webkit-animation-delay: -0.45s;
          animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  -webkit-animation-delay: -0.3s;
          animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  -webkit-animation-delay: -0.15s;
          animation-delay: -0.15s;
}

@-webkit-keyframes lds-ring {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes lds-ring {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.tui-chart-tooltip {
  display: none;
}
/*# sourceMappingURL=App.css.map */