* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Source Code Pro', monospace;
  list-style: none;
  overflow: hidden;
}

body {
  max-height: 100vh;
  max-width: 100vw;
}

/* ----------------- Navbar */
nav {
  max-height: 200px;
}

nav .nav-link {
  font-size: 20px;
}

@media only screen and (max-width: 900px) {
  nav .hamburger-menu {
    position: absolute;
    border: 2px #a72d24 solid;
    background-color: #fd1100;
    top: 5px;
    right: 10px;
    height: 45px;
    width: 65px;
    cursor: pointer;
    -webkit-filter: drop-shadow(1px 1px 2px #a72d24);
            filter: drop-shadow(1px 1px 2px #a72d24);
    -webkit-transition: background-color 500ms;
    transition: background-color 500ms;
  }
  nav .hamburger-menu:hover {
    background-color: #DA1002;
  }
  nav .hamburger-menu div {
    border-bottom: white 3px solid;
    margin: 8px;
  }
  nav .dropdown {
    display: none;
    position: absolute;
    width: 100%;
    top: 60px;
    background-color: #f31202;
    z-index: 2;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    border: 1px solid red;
    -webkit-animation-duration: 400ms;
            animation-duration: 400ms;
    -webkit-animation-name: slideDown;
            animation-name: slideDown;
  }
  nav .dropdown li {
    margin: -10px;
  }
  nav .nav-link {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  nav .dropdown {
    top: 56px;
  }
  nav .dropdown li {
    margin: -7px;
  }
}

@-webkit-keyframes slideDown {
  0% {
    height: 0px;
  }
  100% {
    height: 45px;
  }
}

@keyframes slideDown {
  0% {
    height: 0px;
  }
  100% {
    height: 45px;
  }
}

/* ----------------- Pokemon Index */
.pokemon-list {
  overflow-y: auto;
  border-top: solid 2px #10B4E6;
  overflow-x: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 25vw;
  height: 79vh;
}

.pokemon-list::-webkit-scrollbar {
  width: 15px;
}

.pokemon-list::-webkit-scrollbar-track {
  background-color: white;
  border-right: #F44336 2px solid;
}

.pokemon-list::-webkit-scrollbar-thumb {
  background-color: #10b4e6;
  height: 60px;
}

.pokemon-list::-webkit-scrollbar-thumb:hover {
  background-color: #2da8e0;
}

.pokemon-list button {
  font-size: 35px;
  font-weight: 100;
  background-color: white;
  padding: 10px;
  border-color: #10b4e6;
  border-radius: 4px;
}

@media only screen and (max-width: 900px) {
  .pokemon-list button {
    font-size: 15px;
  }
  .pokemon-list::-webkit-scrollbar {
    width: 5px;
  }
}

.input-field {
  width: 20vw;
  left: 30px;
}

.input-field label {
  font-family: 'Roboto', sans-serif;
}

.selected {
  font-weight: 500;
  background-color: #ff1100 !important;
  border-color: #ff1100 !important;
  color: white;
}

/* ----------------- Pokemon Info */
.pokemon-info {
  position: relative;
  bottom: 90vh;
  left: 25vw;
  height: 89vh;
  width: 75vw;
}

.pokemon-info .name {
  text-align: center;
}

@media only screen and (max-width: 900px) {
  .pokemon-info .name {
    font-size: 30px;
  }
}

.images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.images img {
  height: 120px;
}

@media only screen and (max-width: 600px) {
  .images img {
    height: 75px;
  }
}
/*# sourceMappingURL=App.css.map */